{%- assign full_url = include.post.url | absolute_url -%}
{%- assign enc_title = include.post.title | uri_escape -%}
<div class="share">
  <span class="share-label">Share:</span>
  <a class="share-link" href="https://twitter.com/intent/tweet?url={{ full_url }}&text={{ enc_title }}" rel="nofollow noopener" target="_blank">Twitter / X</a>
  <a class="share-link" href="https://www.facebook.com/sharer/sharer.php?u={{ full_url }}" rel="nofollow noopener" target="_blank">Facebook</a>
  <a class="share-link" href="https://t.me/share/url?url={{ full_url }}&text={{ enc_title }}" rel="nofollow noopener" target="_blank">Telegram</a>
  <a class="share-link" href="https://wa.me/?text={{ enc_title }}%20{{ full_url }}" rel="nofollow noopener" target="_blank">WhatsApp</a>
  <a class="share-link" href="mailto:?subject={{ enc_title }}&body={{ full_url }}">Email</a>
</div>
